.messages-items {
    max-width: 280px;
    color: aliceblue;
    border-radius: 10px 10px 10px 10px;
}

.time {
    min-width: 60px;
}

.chat_area {
    margin: auto;
    max-width: 500px;
    background-image: url('/media/fondo.jpg');
}

.send-input {
    max-width: 500px;
}

.message-body {
    max-width: 200px;
}

.chat-head {
    margin: auto;
    max-width: 500px;
}
.chat-head img {
border-radius: 50%;
    width: 40px;
    height: 40px;
}

.profile-button {
    background: none;
    border:none;
}

.profile-info-picture {
    width: 70px;
    height: 70px;
}

.options-button {
    background: none;
    border: none;
}