.messages-items {
    max-width: 280px;
    color: aliceblue;
    border-radius: 10px 10px 10px 10px;
}

.time {
    min-width: 60px;
}

.chat_area {
    margin: auto;
    max-width: 500px;
}

.send-input {
    max-width: 500px;
}

.message-body {
    max-width: 200px;
}