.contacts-container {
    margin: auto;
    max-width: 550px;
}

button {
    border: none;
    

}





.items-containers {
    max-width: 100%;
}

.chat-item {
    min-width: 70%;
    background-color: #ffffff4d;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
}

a {
    color: rgb(12, 12, 12);
    text-decoration: none;
}

.chat-item img {
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
}