.index {
    margin: auto;
    max-width: 450px;
}

.linebreak {
    max-width: 100%;


}


.chat-item {
    min-width: 70%;
    background-color: #ffffff4d;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.chat-item img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profile-picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.navbar-toggler {
    --bs-navbar-toggler-border-color: none;
}

.start-chat {
    width: max-content;
    left: 74vw;
}