body {
    min-height: 100vh;
    min-width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to left, #f6ffc2 0%, #b0c3ff 100%);
}



.contacts-item-container {
    max-width: fit-content;
}

.chat_area {
    height: 400px;
    overflow-y: auto;

}