body {
    min-height: 100vh;
    min-width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to left, #f6ffc2 0%, #b0c3ff 100%);
    transition: background-image 0.3s ease;
}

.dark-mode {
    background-image: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.light-mode {
    background-image: linear-gradient(to left, #f6ffc2 0%, #b0c3ff 100%);
    color: black;
}


.contacts-item-container {
    max-width: fit-content;
}

.chat_area {
    height: 71vh;
    overflow-y: auto;

}

.notifications {
    background-color: rgb(206, 27, 27);
    border-radius: 50%;
    position: relative;
    right: 15px;
    top: 10px;
}