{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'chat/styles/chat.css' %}">
{% endblock head %}

{% block content %}
<div class="container">
    <div class="container chat-head d-flex">
        <a href="{{chat.user_2.avatar.url}}">
            <img src="{{chat.user_2.avatar.url}}" alt="Profile Picture">
        </a>
        <h4 class="mx-2">@{{chat.user_2.username}}</h4>
        
    </div>
    <div class="container text-center">
        <p id="typing"></p>
    </div>
    <hr class="m-0">
    
    

    <div class="chat-body">
        <div class="container chat_area" id="chat_area">
            {% include 'messages_area.html' %}
            <!-- <textarea class="form-control"
            name="" id="chat_area" cols="50" rows="10" readonly></textarea> -->
        </div>

        <div class="container send-input">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Text here" id="chat_input">
                <button class="btn btn-primary" id="chat_button">Send</button>
            </div>
            
            <div>
                <br><br>
            </div>
            
        </div>
    </div>


    {{ chat.name|json_script:'chat-name'}}
    {{ request.user.username|json_script:'username'}}
    {{ chat.user_2.id|json_script:'user2Id'}}

   
</div>
{% endblock %}



{% block script %}
    <script src="{% static 'chat/js/chat-script.js' %}"></script>


{% endblock script %}
