{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container text-center">
        <div class="container">
            <h1>Chat Room</h1>
            {% if not group.host == request.user %}
            <form action="" method="post">
                {% csrf_token %}

                <input type="submit" value="Exit from group">

            </form>
            {% endif %}
        </div>
        
        <div class="container">
            <textarea class="form-control"
            name="" id="chat-text" cols="50" rows="10" readonly></textarea>
        </div>
    
        <div class="container fixed-bottom">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Text here" id="input">
                <button class="btn btn-primary" id="submit">Send</button>
            </div>
            
            <div>
                <br><br>
            </div>
            
        </div>
    </div>
    
    
 
    
    {{ request.user.username|json_script:'user_username' }}
    {{ group.id|json_script:'room-id' }}
{% endblock content %}


{% block script %}
    <script src="{% static 'chat/js/room-script.js' %}"></script>
{% endblock script %}
