{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="container">
        <h1>Conversation</h1>
    </div>
    
    <div class="container text-center">
        <p id="typing"></p>
    </div>

    <div class="container chat_area" id="chat_area">
        {% for message in chat_messages %}
       
        <div class="container">
            <p>{{message.user.username}}</p>
            <p>{{message.body}}</p>
        </div>
        <hr>
       
        {% endfor %}
        <!-- <textarea class="form-control"
        name="" id="chat_area" cols="50" rows="10" readonly></textarea> -->
    </div>

    <div class="container fixed-bottom">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Text here" id="chat_input">
            <button class="btn btn-primary" id="chat_button">Send</button>
        </div>
        
        <div>
            <br><br>
        </div>
        
    </div>


    {{ chat_name|json_script:'chat-name'}}
    {{ request.user.username|json_script:'username'}}
    {{ message|json_script:'message'}}
</div>
{% endblock %}



{% block script %}
    <script src="{% static 'chat/js/chat-script.js' %}"></script>


{% endblock script %}
