{% extends 'base.html' %}
{% block content %}
<div class="contacts-container container">
    <div class="text-center container">
        <div class="container">
            <h1>Contacts</h1>
        </div>

        <div class="container text-center contacts-item-container">
            <div class='list-group'>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for contact in contacts %}

                    {% if not request.user == contact %}
                    <button type="submit" name="contact" value="{{contact.id}}" class="list-group-item list-group-item-action">
                        @{{contact}}
                    </button>
                    {% endif %}

                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="d-flex" role="search" method="GET" action="{% url 'contacts' %}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>
{% endblock content %}