{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'chat/styles/index.css' %}">
{% endblock %}

{% block content %}

<!-- <div class="container my-1 d-flex">
    <a href="{{ request.user.avatar.url }}">
        <img class="profile-picture" src="{{ request.user.avatar.url }}" alt="photo">
    </a>
    <div class="container my-auto">
        <h3>Hello <a class="text-black" href="{% url 'profile' %}" id="usernameLink">@{{request.user}}</a></h3>
    </div>    
</div>
<hr class="m-0"> -->
<div class="sticky-top">
    <ul id="nav-tabs" class="nav nav-tabs nav-fill bg-light border-0 justify-content-center">
        <li class="nav-item">
            <a id="group-link" class="nav-link text-black py-1" href="{% url 'index' %}">Chats</a>
        </li>

        <li class="nav-item">
            <a id="chat-link"
                class="nav-link text-black bg-transparent border-0 border-bottom border-success border-5 py-1"
                aria-current="page" href="#">Groups</a>
        </li>
</div>

<br>
<div class="">
    <div class="index">
        <div class="container">


            <div class="container d-flex items-containers flex-column">
                {% for chat in chats %}
                <a href="{% url 'deleteChat' chat.id %}">Delete</a>



                <div class="chat-item container shadow-sm m-1">
                    <div class="d-flex align-items-center">
                        <div class="m-1">
                            <a href="{{ chat.user_2.avatar.url }}">
                                <img src="{{ chat.user_2.avatar.url }}" alt="photo">
                            </a>
                        </div>

                        <a class="container-fluid text-black" href="{% url 'chat' chat.name %}">
                            <div class="">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="m-0 fw-bold">@{{chat.user_2}}</p>
                                    </div>
                                    <div>
                                        <small>{{ chat.last_message_time|date:'g:i a' }}</small>
                                    </div>
                                </div>


                                <div>
                                    <p>{{ chat.last_message }}</p>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>



                {% endfor %}
            </div>
        </div>



        <div class="container">


            <div class="container d-flex items-containers flex-column">
                {% for group in groups %}

                {% if group.host == request.user %}
                <a href="{% url 'deleteGroup' group.id %}">Delete</a>
                {% endif %}



                <div class="chat-item container shadow-sm m-1">
                    <div class="d-flex align-items-center">
                        <div class="m-1">
                            <a href="{{ group.picture.url }}">
                                <img src="{{ group.picture.url }}" alt="photo">
                            </a>
                        </div>

                        <a class="container-fluid text-black" href="chatroom/{{group.id}}">
                            <div class="">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="m-0 fw-bold">{{ group }}</p>
                                    </div>
                                    <div>
                                        <small>{{ group.last_message_time|date:'g:i a' }}</small>
                                    </div>
                                </div>


                                <div>
                                    <p>{{ group.last_message }}</p>
                                </div>
                            </div>
                        </a>
                    </div>


                </div>



                {% endfor %}
            </div>
        </div>


    </div>
</div>

<a class="btn start-chat m-4 fixed-bottom rounded-circle btn-success" href="{% url 'contacts' %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-plus-fill"
        viewBox="0 0 16 16">
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        <path fill-rule="evenodd"
            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
    </svg>
</a>

<!-- <a class="btn btn-secondary" href="{% url 'group' %}">New Group</a> -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="search-modal">
            <div class="modal-body">
                <form class="d-flex" role="search" method="GET" action="{% url 'index' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}