{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'chat/styles/index.css' %}">
{% endblock %}

{% block content %}

<div class="container text-center">
    <a href="{{ request.user.avatar.url }}">
        <img class="profile-picture" src="{{ request.user.avatar.url }}" alt="photo">
    </a>
    <h1>Hello <a class="text-black" href="{% url 'profile' %}" id="usernameLink">@{{request.user}}</a></h1>
    <hr>
</div>

<br>
<div class="">
    <div class="index">
        <div class="container">
            

            <div class="container d-flex items-containers flex-column">
                {% for chat in chats %}
                <a href="{% url 'deleteChat' chat.id %}">Delete</a>

                

                    <div class="chat-item container shadow-sm m-1">
                        <div class="d-flex align-items-center">
                            <div class="m-1">
                                <a href="{{ chat.user_2.avatar.url }}">
                                    <img src="{{ chat.user_2.avatar.url }}" alt="photo">
                                </a>
                            </div>   
                            
                            <a class="container-fluid text-black" href="{% url 'chat' chat.name %}">
                                <div class="">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="m-0 fw-bold">@{{chat.user_2}}</p>
                                        </div>
                                        <div>
                                            <small>{{ chat.last_message_time|date:'g:i a' }}</small>
                                        </div>
                                    </div>
                                
                                
                                    <div>
                                        <p>{{ chat.last_message }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    
                
                    </div>
                
                
                
                {% endfor %}
            </div>
        </div>

        

        <div class="container">
           

            <div class="container d-flex items-containers flex-column">
                {% for group in groups %}
    
                {% if group.host == request.user %}
                    <a href="{% url 'deleteGroup' group.id %}">Delete</a>
                {% endif %}

                

                    <div class="chat-item container shadow-sm m-1">
                        <div class="d-flex align-items-center">
                            <div class="m-1">
                                <a href="{{ group.picture.url }}">
                                    <img src="{{ group.picture.url }}" alt="photo">
                                </a>
                            </div>   
                            
                            <a class="container-fluid" href="chatroom/{{group.id}}">
                                <div class="">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="m-0 fw-bold">{{ group }}</p>
                                        </div>
                                        <div>
                                            <small>{{ group.last_message_time|date:'g:i a' }}</small>
                                        </div>
                                    </div>
                                
                                
                                    <div>
                                        <p>{{ group.last_message }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    
                
                    </div>
                
                
                
                {% endfor %}
            </div>
        </div>
            
            
        </div>
    </div>

    <div class="container fixed-bottom">
        <div class="d-flex justify-content-between">
            <a class="btn btn-primary" href="{% url 'contacts' %}">New Message</a>

            <a class="btn btn-secondary" href="{% url 'group' %}">New Group</a>
        </div>
        <div >
            <br>
        </div>
    </div>
</div> 
{% endblock content %}